# MongoDB connection string (replace <username>, <password>, <cluster-url> with your own)
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/?retryWrites=true&w=majority&appName=InterviewPreparationAi
#
# Secret key for JWT authentication
JWT_SECRET=your_jwt_secret_here

# API key for Gemini (replace with your own)
GEMINI_API_KEY=your_api_key_here

# Port on which the server will run
PORT=8000
